html, body {
  height: 100%;
}

#hero{
  background-color: #216CC5;
}
#paint-section{
  background-color: #15A46C;

}
.paint-app{
  width: 100%;
  min-height: 30rem;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #216CC5;
}

@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins\ Black\ 900.ttf);
}

.poppins-font-family{
  font-family: Poppins;
}

div h1{
  letter-spacing: 10px;
}

.uk-heading-large{
  line-height: 2;
}

.uk-container{
  max-width: 1500px;
}